@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&display=swap');

:root {
    --firstColor : white;
    --BrandColor: rgb(93, 253, 93);
    --H1fontSize:2em;
    --fontFamily : font-family: 'Fira Sans Condensed', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fontFamily) ;
}

*::selection{
    background-color: #7DF2AB;
    color: var(--firstColor);
}

html {
    overflow-x: hidden;
}

body {
    background:#211f1f;
    overflow:hidden;
    scroll-behavior:smooth;
    padding-bottom: 2em;
}


.cursor {
    width: 40px;
    height: 40px;
    border: 1px solid var(--BrandColor);
    border-radius: 50%;
    position: absolute;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    animation: cursorAnim .5s infinite alternate;
    pointer-events: none;
}

.cursor::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    border: 8px solid var(--BrandColor);
    z-index: -1;
    border-radius: 50%;
    opacity: .5;
    top: -8px;
    left: -8px;
    animation: cursorAnim2 .5s infinite alternate;
}


@keyframes cursorAnim {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(.7);
        box-shadow: 0px 0 30px #7DF2AB;
    }
}

@keyframes cursorAnim2 {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(.4);
    }
}

@keyframes cursorAnim3 {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(3);
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.expand {
    animation: cursorAnim3 .5s forwards;
    border: 1px solid rgb(255, 255, 255);
}


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    background-color: rgba(255, 255, 255, 0.082);
    backdrop-filter: blur(2.3px );
    -webkit-backdrop-filter: blur(2.3px);
    transition: all 0.4s;
}

.logo {
    font-size: 34px;
    text-decoration: none;
    color: var(--firstColor);
    font-weight: bold;
}
.logo:hover{
    color: var(--firstColor);
}
.logo span {
    color: var(--firstColor);
    font-weight: bold;
    font-size: 44px;
}

.logo {
    display: none;
}
.logoMini{
    display: block;
    text-decoration: none;
    font-size: 3em;
    color: var(--BrandColor);
    font-weight: bold;
    transition: all 0.4s;
}
.logoMini span {
    color: rgba(0, 0, 0, 0.76);
    font-style: italic;
}
.logoMini:hover{
    color: black;
}


nav ul {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
}


nav ul li {
    list-style: none;
    transition-delay: 1s;

}
nav ul li a {
    text-decoration: none;
    color: var(--firstColor);
    font-weight: 600;
    font-size: 1.8em;
    letter-spacing: 2px;
    position: relative;
    transition: all 1s;
}
nav ul li a::after{
    content: '';
    position: absolute;
    bottom: -8px;
    left: 0;
    background-color: #7DF2AB;
    width: 0%;
    height: 0px;
    transition:all 0.4s;
}

nav ul li a::before{
    content: '';
    position: absolute;
    bottom: -8px;
    right: 0;
    background-color: var(--firstColor);
    width: 0%;
    height: 0px;
    transition: all 0.4s;
}
nav ul li a:hover::before{
    width: 50%;
    height: 3px;
}
nav ul li a:hover::after{
    width: 50%;
    height: 3px;
}

nav ul li a:hover{
    color: rgb(255, 255, 255);
}

.burger{
    display: none;
    cursor: pointer;

}
.burger div {
    width: 30px;
    height: 3px;
    background-color: var(--firstColor);
    margin: 7px 0;
    transition:all 0.4s ease-in-out;
}

@media (max-width:950px){
    nav {
        justify-content: space-between;
        padding: 0 1.8em;
    }

    nav ul{
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background-color: rgba(255, 255, 255, 0.082);
        backdrop-filter: blur(2.3px );
        -webkit-backdrop-filter: blur(2.3px);
        top: 10vh;
        right: 0px;
        width: 50%;
        height: 90vh;
        transform: translateX(100%);
        transition: all 0.5s ease-in-out;

    }
    .burger {
        display: block;
    }
}

.nav-active {
    transform: translateX(0%);
}

.nav-active li {
    animation: anima 1s ease;
}
@keyframes anima {
    from{
        transform: translateX(200px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
    opacity: 1;
    }
}

.toggle .line1 {
    width: 30px;
    transform: rotate(45deg) translateY(14px);
    background-color: var(--BrandColor);
  }
  .toggle .line2 {
    transform: translateX(100%);
    opacity: 0;
  }
  .toggle .line3 {
    width: 30px;
    transform: rotate(315deg) translateY(-14px);
  }


.home h1{
    color: var(--firstColor);
}
.home h1 span {
    font-weight: bold;
    color: var(--BrandColor);
    animation: anime2 2s forwards infinite alternate;
}

@keyframes anime2 {
    from{
        color: white;
    }
     to{
         color:var(--BrandColor);
     }
}

.home {
    height: 100vh;
    position: relative;
}
.home .color {
    position: absolute;
    width: 60%;
    height: 100%;
    border-radius: 20% 0 20% 0;
    border: 6px solid var(--firstColor);
    top: 3.9%;
    left: -20%;
    z-index: -1;
    animation: Bore 2s forwards infinite alternate;
}

.home .colorTwo {
    position: absolute;
    width: 600px;
    height: 600px;
    border-radius:50%;
    background: linear-gradient(rgba(0, 255, 0, 0.678) ,rgb(255, 255, 132));
    box-shadow: 0 0 50px var(--BrandColor),
                0 20px 30px white;
    top: 0;
    right: 15%;
    z-index: -2;
    animation: color3 2s forwards infinite alternate;
}


@keyframes Bore {
    from{ 
        border-radius: 20% 0 40% 0;
    }
    to {
        border-radius: 20% 0 70% 0;
        border: 6px solid rgba(0, 0, 0, 0.438);
    }
}

.home .colorThree{
    position: absolute;
    width: 5%;
    height: 200vh;
    top: -10%;
    z-index: -2;
}

@keyframes lilo {
    from {
        height: 0%;
    }
    to {
        height: 200vh;
    }
}



.home p{
    font-size: 1.5em;
    color: var(--BrandColor);
    
}

.home .cnt{
    text-decoration: none;
    color: var(--firstColor);
    font-size: 1.5em;
    padding: 10px 50px;
    transition: 0.4s;
    border: 1px solid var(--BrandColor);
}

.home .cnt::before{
    transform: scale(0);
    transform-origin: center right;

}

.home .cnt:hover::before{
    transform: scale(1);
    transform-origin: center left;
}
.home .cnt::before{
    content: '';
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: var(--BrandColor);
    z-index: -1;
    transition: transform .4s ease;
}



.home {
    position: relative;
    
}

.home i {
    font-size: 3em;
    color: var(--firstColor);
    margin: 10px 10px;
    transition: 0.4s;
}

.home i:hover{
    color: rgb(194, 194, 194);
    padding-right: 10px;
}

.MySkills h1,p {
    color: var(--firstColor);
}

.MySkills span {
    font-weight: bold;
    color: var(--firstColor);
}

.MySkills footer {
    background: gray;

}

.MySkills .faiz {
    width: 80%;
    height: 4px;
    background: #7DF2AB;
}
.MySkills .faiz2 {
    width: 90%;
    height: 4px;
    background: red;
}
.MySkills .faiz3 {
    width: 70%;
    height: 4px;
    background: rgb(255, 255, 255);
}
.MySkills .faiz4 {
    width: 30%;
    height: 4px;
    background: black;
    animation: anime  1s  ease-in-out forwards infinite alternate;
}
@keyframes anime {
    from {
        width: 40%;
    }
    
    to {
        width: 30%;
    }
}

.project {
    position: relative;
}
.project .color4{
    position: absolute;
    width: 13%;
    height: 100%;
    border-radius: 30px 30px 0px 0;
    z-index: -2;
    background:linear-gradient(var(--BrandColor) 70%,white);
    box-shadow: 0 0 50px var(  --BrandColor),
                0 0 100px white;
    top: 5%;
    left: 43.4%;
}


.project .roomm {
    position: relative;
    overflow: hidden;
}
.project .roomm img {
    transition: all 0.4s;
}
.project .roomLink {
    position: absolute;
    top:0% ;
    left: 0%;
    background-color: rgba(0, 0, 0, 0.514);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    opacity: 0;
    transform: scale(0.1);  
    transition: all 0.5s;
}
.project .roomm:hover .roomLink{
    opacity: 1;
    transform: scale(1);  
    
}
.project .roomm:hover img{
    transform: scale(1.1);
}

.project .nike {
    position: relative;
    overflow: hidden;
}
.project .nike img {
    transition: all 0.4s;
}
.project .nikeLink {
    position: absolute;
    top:0% ;
    left: 0%;
    background-color: rgba(0, 0, 0, 0.514);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    transform: scale(0.1);
    opacity: 0;
    transition: all 0.5s;
}
.project .nike:hover .nikeLink{
    transform: scale(1);
    opacity: 1;
    
}
.project .nike:hover img{
    transform: scale(1.1);
    
}


.project .forten {
    position: relative;
    overflow: hidden;
}
.project .forten img {
    transition: all 0.4s;
}
.project .fortenLink {
    position: absolute;
    top:0% ;
    left: 0%;
    background-color: rgba(0, 0, 0, 0.514);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    opacity: 0;
    color: white;
    transform: scale(0.1);
    transition: all 0.5s;
}
.project .forten:hover .fortenLink{
    opacity: 1;
    transform: scale(1);  
}
.project .forten:hover img{
    transform: scale(1.1);
    
}

.project .muncim {
    position: relative;
    overflow: hidden;
}
.project .muncim img {
    transition: all 0.4s;
}
.project .muncimLink {
    position: absolute;
    top:0% ;
    left: 0%;
    background-color: rgba(0, 0, 0, 0.514);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    opacity: 0;
    transform: scale(0.3);  
    transition: all 0.5s;
}
.project .muncim:hover .muncimLink{
    opacity: 1;
    transform: scale(1);  
    
}

.project .muncim:hover img{
    transform: scale(1.1);
    
}

.project .xzone {
    position: relative;
    overflow: hidden;
}
.project .xzone img {
    transition: all 0.4s;
}
.project .xzoneLink {
    position: absolute;
    top:0% ;
    left: 0%;
    background-color: rgba(0, 0, 0, 0.514);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    opacity: 0;
    transform: scale(0.3);  
    transition: all 0.5s;
}
.project .xzone:hover .xzoneLink{
    opacity: 1;
    transform: scale(1);  
    
}

.project .xzone:hover img{
    transform: scale(1.1);
    
}
.project .dude {
    position: relative;
    overflow: hidden;
}
.project .dude img {
    transition: all 0.4s;
}
.project .dudeLink {
    position: absolute;
    top:0% ;
    left: 0%;
    background-color: rgba(0, 0, 0, 0.514);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    opacity: 0;
    transform: scale(0.3);  
    transition: all 0.5s;
}
.project .dude:hover .dudeLink{
    opacity: 1;
    transform: scale(1);  
    
}

.project .dude:hover img{
    transform: scale(1.1);
    
}

.project .coffee {
    position: relative;
    overflow: hidden;
}
.project .coffee img {
    transition: all 0.4s;

}
.project .coffeeLink {
    position: absolute;
    top:0% ;
    left: 0%;
    background-color: rgba(0, 0, 0, 0.514);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    opacity: 0;
    transform: scale(0.3);  
    transition: all 0.5s;
}
.project .coffee:hover .coffeeLink{
    opacity: 1;
    transform: scale(1);  
    
}

.project .coffee:hover img{
    transform: scale(1.1);
    
}

.project .kk {
    position: relative;
    overflow: hidden;
}
.project .kk img {
    transition: all 0.4s;
}
.project .kkLink {
    position: absolute;
    top:0% ;
    left: 0%;
    background-color: rgba(0, 0, 0, 0.514);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    opacity: 0;
    transform: scale(0.3);  
    transition: all 0.5s;
}
.project .kk:hover .kkLink{
    opacity: 1;
    transform: scale(1);  
    
}

.project .kk:hover img{
    transform: scale(1.1);
    
}
.about h2 {
    color: var(--firstColor);
}
.about .sd {
    position: relative;
    box-shadow: 0 0 40px #0000005d;
    overflow: hidden;
    backdrop-filter: blur(3.3px);
    -webkit-backdrop-filter: blur(3.3px);
}
.about .box2 {
    position: absolute;
    width: 100px;
    height: 100px;
    background:linear-gradient(var(--BrandColor),white);
    box-shadow: 0 0 10px var(--BrandColor);
    border-radius: 50%;
    right: -15%;
    top: 10px;
    z-index: -9999;
    animation: ss 7s ease forwards   alternate;
}
.about .box {
    position: absolute;
    width: 100px;
    height: 100px;
    background:linear-gradient(var(--BrandColor),white);
    box-shadow: 0 0 10px var(--BrandColor);
    border-radius: 50%;
    left: -15%;
    z-index: -9999;
    animation: ss 7s ease forwards  alternate;
}
@keyframes ss {
    from{
        transform: translateY(0%) translateX(400%);
    }
    to {
        transform: translateY(400%) rotate(360deg);
    }
}
.about p{
    --fontFamily : font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 24px;
    color: var(--firstColor);
    padding: 1em 1em;
}
.about {
    position: relative;
}
.about .ki {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}
.about i {
    color: var(--BrandColor);
    animation: quote 1s ease forwards infinite alternate;
}
@keyframes quote {
    from{
        transform: translateY(-5px);
    }
}
.about p span {
    color: var(--BrandColor);
    font-style: italic;
}

.hr {
    width: 95%;
    height: 3px;
    margin:0 auto;
    background:linear-gradient(var(--BrandColor),white);
}

.footer{
    width: 100%;
    height: 20vh;
    position: relative;
}
.footer .scroll {
    position: absolute;
    font-size: 40px;
    color: var(--BrandColor);
    right: 10%;
    top: 10%;
    animation: tops 2s forwards infinite alternate;
}
@keyframes tops {
    from {
        opacity: 0.3;
        transform: translateY(30px);
    }
}

.footer ul li{
    list-style: none;
}
.footer ul {
    padding: 0;
}
.footer ul li a{
    text-decoration: none;
    color: var(--firstColor);
    transition: all 0.4s;
    font-size: 18px;
}
.footer ul li a:hover{
    color: rgb(68, 68, 68);
    padding-left: 5px;
}

footer h3 {
    color: var(--firstColor);
}

footer .logoMini{
    display: block;
    text-decoration: none;
    font-size: 3em;
    color: var(--BrandColor);
    font-weight: bold;
    transition: all 0.4s;
}
footer .logoMini span {
    color: rgba(0, 0, 0, 0.76);
    font-style: italic;
}
footer .logoMini:hover{
    color: black;
}

.front i {
    font-size: 7em;
    color: var(--BrandColor);
    cursor: pointer;
    transition: all 0.4s;
    animation: fro 2s ease forwards infinite alternate;
}
.front i:hover{
    color: white;
}



@media (max-width:700px){
    .front i{
        font-size: 4em;
    }
    .home .color {
        width: 90%;
        height: 70%;
        border-color: rgba(255, 255, 255, 0.671);
    }
    .home .colorTwo {
        position: absolute;
        width: 200px;
        height: 200px;
        border-radius:50%;
        background:linear-gradient(lime ,rgb(255, 255, 132));
        top: 1%;
        right: -100px;
        z-index: -2;
        animation: color2 2s forwards infinite alternate;
    }
    @keyframes color2 {
        from{
            transform: scale(1.1) translateY(10%);
            box-shadow: 0 0 15px #7DF2AB;
        }
        to {
            box-shadow: 0 0 15px #afd1bd;

        }
    }
    .project .color4 {
        width: 40%;
        left: 30%;
    }
    .footer ul li a{
        font-size: 12px;
    }
    .about p{
        --fontFamily : font-family: 'Fira Sans Condensed', sans-serif;
        font-size: 14px;
        color: var(--firstColor);
        padding: 1em 1em;
    }
    @keyframes ss {
        from{
            transform: translateY(0%) translateX(400%);
        }
        to {
            transform: translateY(200%) rotate(360deg);
        }
    }

}

